$icomoon-font-family: "my-cv" !default;
$icomoon-font-path: "fonts" !default;

$my-cv-menu: "\e902";
$my-cv-home: "\e90b";
$my-cv-download: "\e901";
$my-cv-save: "\e901";
$my-cv-store: "\e901";
$my-cv-arrow: "\e901";
$my-cv-chevron-down: "\e900";
$my-cv-tiktok: "\e909";
$my-cv-instagram: "\e903";
$my-cv-linkedin: "\e904";
$my-cv-codewars: "\e905";
$my-cv-github: "\e906";
$my-cv-whatsapp: "\e907";
$my-cv-facebook: "\e908";
$my-cv-youtube: "\e90a";
